$key-color: #55E5AB;
$highlight-color: #08D8CE;
$secondary-color: #FC395F;
$secondary-highlight-color: #FF6C41;
$text-color: #4A4A4A;
$text-color-light: #959595;
$background: #F7F7F7;
$item-background: white;
$shadow-before: #EAEAEA;
$shadow-after: #DBDBDB;
$gradient: linear-gradient(to right, $key-color, $highlight-color);
// uses
$button-color: $key-color;
$border-color: $text-color;
$logo-color: $item-background;
$post-background: $item-background;
$text-selected: $highlight-color;
$text-unselected: $text-selected; //delete this




body, html {
  font-family: "Roboto", slab;
  //background: linear-gradient(to bottom, #FFFFFF 0%, $background 100%);
  background: $background;
  height: 100%;
  color: $text-color;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-weight: 300;
}

*:focus {
  outline: 0;
}

::placeholder{
  color: $shadow-after;
}

button {
  color: inherit;
  border: 0;
  background: 0;
  font-size: inherit;
}


.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:  0;
  padding-left: 2%;
  padding-right: 2%;
}


.logo-life {
  font-size: 20pt;
  margin: 0;
  font-family: 'Galada', cursive;
}

.logo-slogan {
  font-size: 12pt;
  margin: 0;
  font-family: 'IM Fell English SC', serif;
}

// The Landing Page
.logo-box{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.slogan-box{
  width: 50%;
  margin: 0 auto;
}
.slogan{
  color: $text-color;
  text-align: center;
  font-weight: 300;
  background: rgba(255, 255, 255, .25);
}
.landing-title{
  background-image: $gradient;
  color: white;
  width: 100%;
}
.landing-footer{
  background-image: $gradient; 
  color: white; 
}
.landing-section-mission{
  background: $background;
  width:100%;
}
.landing-section-process{
  background: white;
  width:100%;
}
.landing-content{
  width:70%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-content p{
  font-weight: 300;
}

.landing-triplet-box{
  display: flex;
  flex-direction: row;
}
.landing-triplet{
  width: 30%;
  float: left;
  padding-right: 5%;
}
.landing-triplet-last{
  width: 30%;
  float: right;
}
.landing-padding{
  padding-bottom: 50px;
}
.landing-padding-large{
  padding-bottom: 100px;
}
.button-box{
  display: flex;
  justify-content: center;
}

// The search-bar
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-input {
  height: 18pt;
  background: $item-background;
  border-color: $text-color-light;
  border-style: solid;
  border-width: thin;
  border-right: 0;
  border-radius: 3pt 0 0 3pt;
  width: 120pt;
  margin: 0;
  padding-right: 50pt;
  padding-left: 10pt;
  font-size: 9pt;
}

.search-bar button {
  padding: 0 3pt 0 3pt;
  background-color: $item-background;
  height: 21pt;
  border-style: solid;
  border-color: $text-color-light;
  border-width: thin;
  border-left: 0;
}

.search-bar button:last-child{
  border-radius: 0 3pt 3pt 0;
  background-color: $shadow-before;
  transition: 200ms;
}

.search-bar button:last-child:hover{
  border-radius: 0 3pt 3pt 0;
  background-color: $shadow-after;
}



// The Navbar
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: $gradient;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  color: $text-color;
}

a {
  color: inherit;
}

.header li {
  padding: 0 0 2pt 0;
  margin: 5pt;
  margin-right: 15pt;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  border-bottom: 1px solid transparent;
}


.header li:hover{
  border-bottom-color: $text-color;
}

.navlink {
  text-decoration: none;
}

.active {
  padding: 0 0 2pt 0;
  // border-bottom: 1.5px solid;
  // border-bottom-color: $text-color;
  // text-decoration: underline;
  // border-bottom-style: solid;
  // border-bottom-width: thick;
  font-weight: bold;
}

#signout-link{
  font-weight: 100;
}
// .signout-button {
//   border: none;
//   color: inherit;
//   padding: 0;
//   background: none;
//   text-transform: inherit;
//   font-size: inherit;
// }

// box with posts and filters
.posts-filters-box {
  display: flex;
  flex-direction: row;
  margin: 3% 3% 0 3%;
}

// toggle
.toggle-req-offer {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: $text-color;
}

.toggle-selected {
  font-family: "Roboto", slab;
  font-weight: 400;
  color: $highlight-color;
  font-style: normal;
}

#toggle-req-offer-request{
  margin-right: 15pt;
}

.toggle-req-offer button {
  font-family: "Roboto", slab;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.toggle-req-offer button:active {
  background: none;
  border: none;
}

// Sorting and filtering
.sort-buttons{
  margin: 25pt 0 0 0;
  display: flex;
  flex-direction: column;
}

.sort-buttons:first-of-type div {
  text-transform: uppercase;
  border-bottom: 1px solid $text-color;
  padding-bottom: 2pt;
  //text-decoration: underline;

}

.sort-buttons button {
  font-family: "Roboto", slab;
  background: none;
  border: none;
  margin: 0;
  padding-top: 5pt;
  color: $text-color-light;
  font-size: inherit;
  text-align: left;
  font-weight: 300;
  text-decoration: none;
}


//highlighting current
#sort-selected {
  //font-weight: bold;
  color: $highlight-color;
}

//  Post
.post {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $text-color-light;
  border-style: solid;
  border-width: thin;
  margin: 2%;
  padding: 2pt 5pt 2pt 5pt;
  background-color: $post-background;
  width: auto;
}

.post img {
  width: 15%;
  height: 15%;
  margin: 5pt 0 0 0;
}

.post-box {
  width: 80%;
  padding-left: 5pt;
}

// Show the title and buttons for edit, delete and heart
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-bottom-style: solid;
  // border-bottom-color: $accent-1;
  // border-bottom-width: thin;
}

.post-header h4 {
  align-self: flex-start;
  margin: 5pt 10pt 5pt 0;
  text-transform: uppercase;
  color: $text-color;
}

.post-header h4:hover {
  border-bottom-style: solid;
}

.post-title-link {
  text-decoration: none;
  padding-bottom: -10pt;
}

.post-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  color: $text-color;
}

.post-button-link {
  color: $key-color;
}


// Align the text/content of the post with the
// arrow for viewing the full post
.post-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 5pt 0;
  font-weight: 200;
}

.post-text p {
  margin: 0;
}
.post-text div i {
  align-self: flex-end;
}

// Full Post - the full page view of the post
.full-post {
  display: flex;
  height: 90vh;
  flex-direction: column;
  box-shadow: 5px 5px 5px grey;
  border: 3pt;
  margin: 5%;
  padding: 2pt 10pt 2pt 10pt;
  background-color: $post-background;
  width: auto;
}

.full-post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: thin;
  font-size: 32pt;
  text-transform: uppercase;
}

.full-post-header img {
  width: 15%;
  height: 15%;
}

.full-post-button-link{
  color: $key-color;
}

i {
  margin: 2pt;
}

#posts-section {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
}


//ADD POST
.add-post {
  //border-top: 3pt solid $text-color;
  //border-bottom: 3pt solid $text-color;
  //border-radius: 10pt;
  margin: 0 7% 0 7%;
  padding: 3% 3% 3% 3%;
  color: $text-color;
  // height: 70vh;
}
.add-post-new{
  align-items: left;
}

.add-note-form-new{
  align-items: flex-start;
  padding: 6%;
}

input {
  margin: 2%;
  background: $background;
  border: none;
  border-bottom: 1px solid $text-color;
  color: $text-color;
  font-weight: 200;
  font-size: 14pt;
}

#title-input{
  font-size: 28pt;
  text-transform: uppercase;
}

#location-input{
  font-style: italic;
}


textarea {
  margin: 2%;
  background-color: white;
  font-size: 12pt;
  text-align: left;
  border: solid 1pt;
  padding: 1%;
  font-weight: 200;
}

textarea:active {
  box-shadow: gray;
}

#title-input {
  width: 70%;
}

#tag-cover_url-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#tag-input {
  width: 40%;
}

#cover_url-input {
  width: 40%;
}

#content-input {
  width: 90%;
  height: 20vh;
}

.save-button {
  border: solid $secondary-color;
  //width: 15%;
  border-width: 1pt;
  border-radius: 30pt;
  padding: 3pt 15pt 3pt 15pt;
  margin: 0 0 5pt 0;
  background-color: none;
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: 300;
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  margin-right: 5%;
}

.save-button:hover {
  background: linear-gradient(to right, $secondary-color, $secondary-highlight-color);
  color: $background;
  //background-color: darken($key-color, 20%);
  //text-decoration: underline;
}

.save-button-white {
  border: solid white;
  //width: 15%;
  border-width: 1pt;
  border-radius: 30pt;
  padding: 3pt 15pt 3pt 15pt;
  margin: 0 0 5pt 0;
  background-color: none;
  color: white;
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: 300;
  transition: all 300ms;
  transition-timing-function: ease-in-out;
  margin-right: 1%;
}

.save-button-white:hover {
  border: solid $secondary-color;
  border-width: 1pt;
  background: linear-gradient(to right, $secondary-color, $secondary-highlight-color);
  color: $background;
  //background-color: darken($key-color, 20%);
  //text-decoration: underline;
}

.save-button i {
  //font-size: 18pt;
  //might not need this at all, can do everything in .save-button
}

// SIGN IN
.signin-link:hover{
  color: $key-color;
  transition: 200ms;
}
.signup-link:hover{
  color: $key-color;
  transition: 200ms;
}

// POP UPS
.failure-mess, .notify-mess{
  background: white;
  font-weight: 300;
  padding: 5pt;
}

// chat
.chat {
  margin: 5%;
  display: flex;
  height: 70vh;
  flex-direction: row;
  justify-content: center;
}

.chat-conversations {
  margin: 0 10% 0 0;
  display: flex;
  flex-direction: column;
}

.chat-conversation{
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
}

.chat-conversation-sel {
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  background: white;
  border: thin solid;
  text-align: left;
}

.chat-controls {
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-start;
}

.chat-startconvo {
  margin: 0 5% 0 0;
}

.startconvo-form{
  margin-bottom: 20%;
}

// scroll to bottom first so has extra div so column-reverse does not affect
.chat-messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  width: 60%;
}

// style these two at the same time probably
.message-box-rec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: solid $border-color;
  margin: 0 30pt 10pt 0;
  padding: 2% 2% 2% 2%;
  background: white;
}

.message-box-sent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid $secondary-highlight-color;
  margin: 0 0 10pt 30pt;
  padding: 2% 0 2% 2%;
  background: white;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-author {
  margin: 0 0 2pt 10pt;
  color: $text-color-light;
  font-weight: 100;
}

.message-header #message-time {
  margin: 0 5pt 0 0;
  display: none;
}

.message-header:hover #message-time {
  display: inline;
}

.message-content {
  margin: 0 3pt 3pt 5pt;
}


.message-enter {
  padding: 3pt 5pt 3pt 5pt;
  font-size: inherit;
  width: 90%;
  border: thin solid $border-color;
}

.account-settings {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
